<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrivilegeUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PrivilegeUI.Properties.Settings>
            <setting name="ServerFTP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="UserFTP" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="PassFTP" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="PortFTP" serializeAs="String">
                <value>21</value>
            </setting>
        </PrivilegeUI.Properties.Settings>
    </userSettings>
</configuration>