<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ServiceMinsoc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ServiceEgfss.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Date" />
      <datePattern value="'Log_'yyyy-MM-dd" />
      <preserveLogFileNameExtension value="true" />
      <staticLogFileName value="false" />
      <file type="log4net.Util.PatternString" value="Logs\\.log" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5MB" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p [%d] %m%n" />
      </layout>

    </appender>

    <logger name="LOGGER">
      <appender-ref ref="LogFileAppender" />
    </logger>
  </log4net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ServiceMinsoc.Properties.Settings>
            <setting name="Db_Ip" serializeAs="String">
                <value />
            </setting>
            <setting name="Db_UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Db_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Db_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Db_Port" serializeAs="String">
                <value />
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Url" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="PostEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CryptoSert" serializeAs="String">
                <value />
            </setting>
            <setting name="NumApply" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="isListening" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isAutorun" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Ftp_Url" serializeAs="String">
                <value />
            </setting>
            <setting name="Ftp_User" serializeAs="String">
                <value />
            </setting>
            <setting name="Ftp_Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="Ftp_Port" serializeAs="String">
                <value>21</value>
            </setting>
        </ServiceMinsoc.Properties.Settings>
        <ServiceEgfss.Properties.Settings>
            <setting name="Db_Ip" serializeAs="String">
                <value />
            </setting>
            <setting name="Db_UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Db_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Db_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="Db_Port" serializeAs="String">
                <value />
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Url" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value>9999</value>
            </setting>
            <setting name="PostEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CryptoSert" serializeAs="String">
                <value />
            </setting>
            <setting name="NumApply" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="isListening" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isAutorun" serializeAs="String">
                <value>False</value>
            </setting>
        </ServiceEgfss.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
